<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.xiaoxingqi.gmdoc">

    <application
        android:name=".core.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.game.GameDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.game.GameListActicivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.global.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".modul.home.UserHomeActivity" />
        <activity
            android:name=".modul.common.ShowPicActivity"
            android:theme="@style/translucentTheme" />
        <activity
            android:name=".modul.login.LoginActivity"
            android:theme="@style/translucentTheme" />
        <activity android:name=".modul.dynamic.DynamicDetailsActivity" />
        <activity
            android:name=".modul.global.WriteDynamicActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".modul.global.AtListActivity" />
        <activity android:name=".modul.album.AlbumActivity" />
        <activity android:name=".modul.album.PreviewActivity" />
        <activity
            android:name=".modul.global.WriteBlogActivity"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.xiaoxingqi.gmdoc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>